.root {
  @apply inline-flex cursor-pointer items-center justify-center
  border border-transparent  px-10 py-5 text-center
  text-sm font-semibold leading-6
  tracking-wide text-white shadow-sm transition duration-300
  ease-linear;
  max-height: 64px;
}

.root:hover {
  @apply scale-105;
}

.root:focus {
  @apply shadow-outline-normal outline-none;
}

.root[data-active] {
  @apply bg-accent-6;
}

.loading {
  @apply cursor-not-allowed border-accent-2 bg-accent-1 text-accent-3;
}

.slim {
  @apply transform-none py-2 normal-case bg-gradient-to-b from-[#347DBA] to-[#5DB9A8];
}

.ghost {
  @apply border border-accent-2 bg-accent-0 text-sm text-accent-9;
}

.ghost:hover {
  @apply border-accent-9 text-white bg-gradient-to-b from-[#347DBA] to-[#5DB9A8];
}

.naked {
  @apply border-none bg-transparent py-0 px-0 font-semibold shadow-none outline-none;
}

.naked:hover,
.naked:focus {
  @apply border-none bg-transparent;
}

.disabled,
.disabled:hover {
  @apply cursor-not-allowed border-accent-2 bg-accent-1 text-accent-4;
  filter: grayscale(1);
  -webkit-transform: translateZ(0);
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
}

.progress {
}
.gradient {
  @apply text-[#4A9CB0] py-2;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 30px;
  background: linear-gradient(169.66deg, #226478 0%, #30C7B5 100%);
  cursor: pointer;
}
.gradient::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 30px;
  background-color: white;
  z-index: -1;
  transition: 200ms
}
.gradient::after {
  content: attr(data);
  font-size: 16px;
  background: linear-gradient(169.66deg, #226478 0%, #30C7B5 100%);
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms
}
.gradient:hover::before {
  opacity: 0%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.gradient:hover::after{
  color: white;
}