.body {
  @apply max-w-6xl leading-7 text-base tracking-wide;
}

.heading {
  @apply mb-2 cursor-pointer pt-1 pb-2 text-5xl font-semibold tracking-wide ;
}
.newsletter {
  @apply mb-2 cursor-pointer pt-1 pb-2 text-4xl font-semibold tracking-wide ;
}

.pageHeading {
  @apply pt-1 pb-4 text-2xl font-bold leading-7 tracking-wide;
}

.sectionHeading {
  @apply mb-2 cursor-pointer pt-1 pb-2 text-2xl font-bold tracking-wide;
}
.logo {
  @apply mb-2 cursor-pointer text-4xl font-bold tracking-wide;
}

/* Apply base font sizes and styles for typography markup (h2, h2, ul, p, etc.).
   A helpful addition for whenn page content is consumed from a source managed through a wysiwyg editor. */

.body :is(h1, h2, h3, h4, h5, h6, p, ul, ol) {
  @apply mb-4;
}

.body :is(h1, h2, h3, h4, h5, h6):not(:first-child) {
  @apply mt-8;
}

.body :is(h1, h2, h3, h4, h5, h6) {
  @apply font-semibold tracking-wide;
}

.body h1 {
  @apply text-5xl;
}

.body h2 {
  @apply text-4xl;
}

.body h3 {
  @apply text-3xl;
}

.body h4 {
  @apply text-2xl;
}

.body h5 {
  @apply text-xl;
}

.body h6 {
  @apply text-lg;
}

.body ul,
.body ol {
  @apply pl-6;
}

.body ul {
  @apply list-disc;
}

.body ol {
  @apply list-decimal;
}

.body a {
  @apply underline;
}

.body a:hover {
  @apply no-underline;
}
