.root {
    @apply relative;
    background-color: white;
  }
  .container {
  background-image: url("");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  }